@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    /* light theme */
    --background: 240, 250, 250;
    --foreground: 33, 33, 33;
    --primary: 0, 128, 128;
    --onprimary: 233, 232, 232;
    --secondary: 185, 185, 222;
    --shadow: 33, 33, 33;
    --title: var(--primary);
    --header: var(--primary);
    --subtitle: var(--secondary);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(var(--background));
    color: rgb(var(--foreground));
    scrollbar-width: none;
    /* overflow-x: hidden; */
}

::-webkit-scrollbar {
    display: none;
}

#header {
    position: sticky;
    top: 0;
    height: 4rem;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(var(--header), 1);
    box-shadow: 0 4px 4px rgba(var(--shadow), 0.2);
}

#content {
    display: flex;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 4rem);
    position: fixed;
    top: 4rem;
}

#verticalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: calc(100vh - 4rem);
    top: 4rem;
}

#left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 4rem);
    width: 50vw;
}

#right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 4rem);
    width: 50vw;
}

#center {
    display: flex;
    flex-direction: column;
}

.expandedCard {
    flex-direction: column;
    background-color: rgba(var(--primary), 0.96);
    height: calc(100vh - 4rem);
    width: 100vw;
    position: sticky;
    top: 4rem;
    padding: 0 1rem;
}

#marker {
    color: #a5a5a5;
    font-size: 2rem;
    line-height: 1.4rem;
    position: fixed;
    z-index: 2;
    top: 50vh;
    transform: translate(0, -50%);
    right: 1rem;
}

#center td, #center th, .eduCaption {
    padding: 0.6rem;
    font-size: 1.4rem;
    font-family: 'Cabin', sans-serif;
    color: rgb(var(--onprimary));
    text-shadow: 0 2px 2px rgba(var(--shadow), 0.2);
}

#center th, .eduCaption {
    font-weight: bold;
    font-size: 2rem;
}

.leftShifted {
    padding-right: 3rem;
}

.eduCaption {
    text-align: center;
    margin: 1rem;
}

.key {
    font-weight: bold;
    width: calc(25vw - 1rem);
}

.value {
    width: calc(75vw - 1rem);
}

.iconText {
    display: flex;
    align-items: center;
}

.iconText .languageIcon {
    margin-right: 1rem;
}

.languageIcon {
    height: 3.6rem;
}

.logo {
    font-family: 'Cabin', sans-serif;
    text-decoration: none;
    font-size: 2.4rem;
    font-weight: bold;
    margin: 0 1rem;
    color: rgb(var(--onprimary));
}

.navbar {
    justify-self: end;
    align-content: center;
    margin: 0 0.6rem;
}

.navlist {
    background-color: rgba(var(--header), 0.9);
    display: none;
    position: fixed;
    width: 100vw;
    top: 4rem;
    flex-direction: column;
    z-index: 1;
}

.navbarItem {
    margin: 0.2rem 0.6rem;
    padding: 0.6rem 0;
    font-family: 'Cabin', sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    color: rgb(var(--onprimary));
    font-weight: 600;
    text-align: center;
}

.logo:hover, .navbarItem:hover, .currentTab {
    background: radial-gradient(rgba(var(--onprimary)), rgba(var(--secondary)));
    background-size: 200%;
    animation: glowEffect 2s ease-out infinite;
    color: transparent;
    background-clip: text;
}

.navbarItem:active {
    text-decoration: underline;
}

.menu {
    cursor: pointer;
    margin: 0 1rem;
    display: none;
}

.menuIcon {
    fill: rgb(var(--onprimary));
    height: 30px;
}

.menuIcon:hover {
    transform: scale(1.06);
}

.menuIcon:active {
    transform: scale(1.02);
}

.buttonRow {
    display: flex;
    align-items: center;
    margin: 3rem 0 1rem 0.6rem;
}

.title {
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: 4rem;
    color: rgb(var(--title));
    padding: 1rem;
    text-shadow: 3px 2px 2px rgba(var(--foreground), 0.2);
}

.subtitle {
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    color: rgb(var(--subtitle));
    padding: 1rem;
    text-shadow: 2px 2px 2px rgba(var(--foreground), 0.2);
    position: relative;
    width: max-content;
}

#hobby {
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    color: rgb(var(--title));
    text-shadow: 2px 2px 2px rgba(var(--foreground), 0.2);
}

.subtitle::before {
    content: '';
    position: absolute;
    right: 0;
    height: 2.8rem;
    width: 6px;
    background-color: rgba(var(--primary), 0.8);
    animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.contactIcon {
    height: 1.6rem;
    fill: rgb(var(--background));
}

.bigContactIcon {
    height: 6rem;
    fill: rgb(var(--background));
}

.smallMargin {
    margin: 1.4rem;
}

.bigMargin {
    margin: 2rem;
}

.circle {
    border-radius: 50%;
}

.eduIcon {
    height: 16rem;
    width: 16rem;
    object-fit: cover;
    border-radius: 8rem;
}

.middleCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactCard {
    display: flex;
    flex-direction: row;
}

.smallGlowingButton {
    background-color: rgba(var(--primary));
    color: rgba(var(--onprimary));
    width: 2.4rem;
    height: 2.4rem;
    border: none;
    border-radius: 1.2rem;
    margin: 0 0.6rem;
    position: relative;
    cursor: pointer;
}

.smallGlowingButton::before {
    content: '';
    background: conic-gradient(rgba(var(--primary)), rgba(var(--secondary)));
    background-size: 200%;
    height: calc(2.4rem + 8px);
    width: calc(2.4rem + 8px);
    border-radius: calc(1.2rem + 4px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: -1;
    animation: glowEffect 5s ease-out infinite;
}

.smallGlowingButton::after {
    content: '';
    background: conic-gradient(rgba(var(--primary)), rgba(var(--secondary)));
    background-size: 200%;
    height: calc(2.4rem + 8px);
    width: calc(2.4rem + 8px);
    border-radius: calc(1.2rem + 4px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: -2;
    animation: glowEffect 5s ease-out infinite;
    filter: blur(5px);
}

.bigGlowingButton {
    background-color: rgba(var(--primary));
    color: rgba(var(--onprimary));
    width: 8rem;
    height: 8rem;
    border: none;
    border-radius: 4rem;
    position: relative;
    margin: 1rem;
    cursor: pointer;
}

.bigGlowingButton::before {
    content: '';
    background: conic-gradient(rgba(var(--primary)), rgba(var(--secondary)));
    background-size: 200%;
    height: calc(8rem + 24px);
    width: calc(8rem + 24px);
    border-radius: calc(4rem + 12px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: -1;
    animation: glowEffect 5s ease-out infinite;
}

.bigGlowingButton::after {
    content: '';
    background: conic-gradient(rgba(var(--primary)), rgba(var(--secondary)));
    background-size: 200%;
    height: calc(8rem + 24px);
    width: calc(8rem + 24px);
    border-radius: calc(4rem + 12px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: -2;
    animation: glowEffect 5s ease-out infinite;
    filter: blur(5px);
}

.hugeGlowingButton {
    background-color: rgba(var(--primary));
    color: rgba(var(--onprimary));
    height: calc(16rem + 24px);
    width: calc(16rem + 24px);
    border-radius: calc(8rem + 12px);
    border: none;
    position: relative;
    cursor: pointer;
}

.hugeGlowingButton::before {
    content: '';
    background: conic-gradient(rgba(var(--primary)), rgba(var(--secondary)));
    background-size: 200%;
    height: calc(16rem + 48px);
    width: calc(16rem + 48px);
    border-radius: calc(8rem + 24px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: -1;
    animation: glowEffect 5s ease-out infinite;
}

.hugeGlowingButton::after {
    content: '';
    background: conic-gradient(rgba(var(--primary)), rgba(var(--secondary)));
    background-size: 200%;
    height: calc(16rem + 48px);
    width: calc(16rem + 48px);
    border-radius: calc(8rem + 24px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: -2;
    animation: glowEffect 5s ease-out infinite;
    filter: blur(8px);
}

.glowingButton:hover, .bigGlowingButton:hover, .hugeGlowingButton:hover {
    font-weight: bold;
    background-color: rgb(var(--secondary));
}

button:active, a:active {
    transform: scale(0.98);
}

button, a {
    outline: none;
    text-decoration: none;
}

@keyframes glowEffect {
    0% {
        background-position: 100%;
    }
    50% {
        background-position: 200%;
    }
    100% {
        background-position: 100%;
    }
}

.centralImage {
    width: 48vmin;
    border-radius: 1rem;
    box-shadow: 4px 4px 4px rgba(var(--shadow), 0.2);
}

@media (max-width: 630px) {
    .navbar {
        display: none;
    }

    .menu {
        display: block;
        width: max-content;
    }

    .contactCard {
        flex-direction: column;
    }
}

@media (max-width: 770px) {
    #left {
        width: 100vw;
        z-index: 1;
    }

    #right {
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.25;
    }

    .centralImage {
        width: 60vmin;
        box-shadow: none;
    }
}
