@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    /* light theme */
    --background: 240, 250, 250;
    --foreground: 33, 33, 33;
    --primary: 0, 128, 128;
    --onprimary: 233, 232, 232;
    --secondary: 185, 185, 222;
    --shadow: 33, 33, 33;
    --title: var(--primary);
    --header: var(--primary);
    --subtitle: var(--secondary);
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(var(--background));
    color: rgb(var(--foreground));
}

#header {
    position: sticky;
    top: 0;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    background-color: rgba(var(--header), 0.96);
    align-items: center;
    box-shadow: 0 4px 4px rgba(var(--shadow), 0.2);
}

#content {
    display: flex;
}

#left {
    display: flex;
    flex-direction: column;
    padding-right: 16;
    justify-content: center;
    flex-grow: 1;
}

#right {
    height: calc(100vh - 4rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.logo {
    font-family: 'Cabin', sans-serif;
    text-decoration: none;
    font-size: 2.4rem;
    font-weight: bold;
    margin: 0 1rem;
    color: rgb(var(--onprimary));
}

.navbar {
    justify-self: end;
    align-content: center;
    margin: 0 0.6rem;
}

.navlist {
    background-color: rgba(var(--header), 0.96);
    display: none;
    position: absolute;
    width: 100vw;
    top: 4rem;
    flex-direction: column;
    z-index: 1;
}

.navbarItem {
    margin: 0.2rem 0.6rem;
    padding: 0.6rem 0;
    font-family: 'Cabin', sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    color: rgb(var(--onprimary));
    font-weight: 600;
    text-align: center;
}

.logo:hover, .navbarItem:hover {
    background: radial-gradient(rgba(var(--onprimary)), rgba(var(--secondary)));
    background-size: 200%;
    animation: glowEffect 2s ease-out infinite;
    color: transparent;
    background-clip: text;
}

.navbarItem:active {
    text-decoration: underline;
}

.menu {
    cursor: pointer;
    margin: 0 1rem;
    display: none;
}

.menuIcon {
    fill: rgb(var(--onprimary));
    height: 30;
}

.menuIcon:hover {
    transform: scale(1.06);
}

.menuIcon:active {
    transform: scale(1.02);
}

.buttonRow {
    display: flex;
    padding-top: 60;
}

.title {
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: 4rem;
    color: rgb(var(--title));
    padding: 1rem;
    text-shadow: 3px 2px 2px rgba(var(--foreground), 0.2);
}

.subtitle {
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    color: rgb(var(--subtitle));
    padding: 1rem;
    text-shadow: 2px 2px 2px rgba(var(--foreground), 0.2);
    position: relative;
    width: max-content;
}

#hobby {
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    color: rgb(var(--title));
    text-shadow: 2px 2px 2px rgba(var(--foreground), 0.2);
}

.subtitle::before {
    content: '';
    position: absolute;
    right: 0;
    height: 2.8rem;
    width: 6px;
    background-color: rgba(var(--primary), 0.8);
    animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.contactIcon {
    padding-top: 7;
    height: 1.6rem;
    fill: rgb(var(--background));
}

.glowingButton {
    background-color: rgba(var(--primary));
    color: rgba(var(--onprimary));
    width: 2.4rem;
    height: 2.4rem;
    border: none;
    border-radius: 1.2rem;
    font-family: 'Cabin', sans-serif;
    text-align: center;
    position: relative;
    margin: 1rem 0 1rem 1rem;
    cursor: pointer;
    justify-self: center;
}

.glowingButton::before {
    content: '';
    background: conic-gradient(rgba(var(--primary)), rgba(var(--secondary)));
    background-size: 200%;
    height: calc(2.4rem + 8px);
    width: calc(2.4rem + 8px);
    border-radius: calc(1.2rem + 4px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: -1;
    animation: glowEffect 5s ease-out infinite;
}

.glowingButton::after {
    content: '';
    background: conic-gradient(rgba(var(--primary)), rgba(var(--secondary)));
    background-size: 200%;
    height: calc(2.4rem + 8px);
    width: calc(2.4rem + 8px);
    border-radius: calc(1.2rem + 4px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: -2;
    animation: glowEffect 5s ease-out infinite;
    filter: blur(5px);
}

.glowingButton:hover {
    font-weight: bold;
    background-color: rgb(var(--secondary));
}

button:active, a:active {
    transform: scale(0.98);
}

button, a {
    outline: none;
    text-decoration: none;
}

@keyframes glowEffect {
    0% {
        background-position: 100%;
    }
    50% {
        background-position: 200%;
    }
    100% {
        background-position: 100%;
    }
}

.centralImage {
    width: 46vmin;
    border-radius: 1rem;
    box-shadow: 4px 4px 4px rgba(var(--shadow), 0.2);
    transform: translate(0%, 2rem);
}

@media (max-width: 615px) {
    .navbar {
        display: none;
    }

    .menu {
        display: block;
        width: max-content;
    }
}

@media (max-width: 770px) {
    #left {
        position: absolute;
        top: calc(50% + 2rem);
        transform: translate(0%, calc(-50% - 0.4rem));
    }

    #right {
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.25;
    }

    .centralImage {
        width: 60vmin;
        box-shadow: none;
    }
}
